@import '~@angular/material/theming';

@mixin buttons-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-button-toggle-checked {
    background: mat-color($primary, 500);
    color: $dark-primary-text;
  }

  .mat-button-toggle-disabled.mat-button-toggle-checked {
    background: mat-color($primary, 300);

    & label {
      color: mat-contrast($primary, 500);
    }
  }

  button.button-link {
    color: mat-color($primary, 300);
  }
}

@mixin toggle-buttons-theme($theme) {
  .icon-button-toggle-group.mat-button-toggle-group {
    box-shadow: none;

    .mat-button-toggle-checked {
      background: none;
    }

    .mat-button-toggle-checked label {
      color: black;
    }
  }
}


.mat-icon-button.align-with-text {
  top: -4px;
}


button.allu-icon-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button > .button-content-clipped {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mat-icon-button.mat-icon-button-18 {
  width: 24px;
  height: 24px;
  line-height: 24px;

  .mat-icon {
    font-size: 18px;
    height: 24px;
    width: 24px;
    line-height: 24px;
  }
}

button.button-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.icon-button-toggle-group.mat-button-toggle-group {
  .mat-button-toggle-checked label .mat-icon {
    font-weight: bold;
  }
}
