@import '~@angular/material/theming';

@mixin modal-theme($theme) {
  $primary: map-get($theme, primary);

  h1.mat-dialog-title {
    color: mat-color($primary, 500);
  }
}

.mat-dialog-actions button {
  margin: 0 5px;
}