@mixin invoice-theme($theme) {
  $primary: map-get($theme, primary);

  invoice {
    li.invoice-row-container:nth-of-type(odd) {
      background: mat-color($primary, 50);
    }

    li.invoice-row-container:nth-of-type(even) {
      background: $allu-card-background;
    }
  }
}
