<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)"
      *ngIf="applicationChanges | async as application">
  <customer [parentForm]="applicationForm"
            [customerWithContacts]="application.applicant"
            [readonly]="readonly"
            [showRepresentative]="true"
            [contactRequired]="!hasRepresentative"
            [pendingInfo]="pendingCustomerInfo$ | async"></customer>

  <customer *ngIf="hasRepresentative"
            [parentForm]="applicationForm"
            [customerWithContacts]="application.representative"
            [readonly]="readonly"></customer>

  <div fxLayout="row">
    <div fxFlex>
      <allu-card>
        <mat-card-title>{{'application.shortTermRental.info' | translation}}</mat-card-title>
        <mat-card-content>
          <div fxLayout="row" fxLayoutGap="18px">
            <div fxFlex="calc(25% - 18px)" formGroupName="rentalTimes">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="startTime" required
                       [placeholder]="'application.common.startTime' | translation"
                       [matDatepicker]="startTimePicker"
                       [min]="minStartDate$ | async"
                       [max]="applicationForm.get('rentalTimes.endTime').value"
                       [matDatepickerFilter]="dateFilter"/>
                <mat-datepicker-toggle matSuffix [for]="startTimePicker"
                                       [disabled]="readonly"></mat-datepicker-toggle>
                <mat-datepicker #startTimePicker></mat-datepicker>
                <mat-error *ngIf="applicationForm.get('rentalTimes.startTime').hasError('inTimePeriod') || applicationForm.get('rentalTimes.startTime').hasError('matDatepickerMin')">
                    <span *ngIf="kind$ | async as kind">
                      {{['application.shortTermRental.field.notInValidTimePeriod', kind] | translation}}
                    </span>
                </mat-error>
                <mat-hint>
                  <field-error [form]="applicationForm.get('rentalTimes')" field="startTime" hasError="required">
                    {{'application.common.field.validityStartTimeMissing' | translation}}
                  </field-error>
                  <field-error [form]="applicationForm" field="rentalTimes" hasError="startBeforeEnd">
                    {{'application.common.field.validityStartBeforeEnd' | translation}}
                  </field-error>
                </mat-hint>
              </mat-form-field>
            </div>
            <div fxFlex="calc(25% - 18px)" formGroupName="rentalTimes">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="endTime" required
                       [placeholder]="'application.common.endTime' | translation"
                       [matDatepicker]="endTimePicker"
                       [min]="applicationForm.get('rentalTimes.startTime').value"
                       [max]="maxEndDate$ | async"
                       [matDatepickerFilter]="dateFilter"/>
                <mat-datepicker-toggle matSuffix [for]="endTimePicker" [disabled]="readonly"></mat-datepicker-toggle>
                <mat-datepicker #endTimePicker></mat-datepicker>
                <mat-error *ngIf="applicationForm.get('rentalTimes.endTime').hasError('inTimePeriod') || applicationForm.get('rentalTimes.endTime').hasError('matDatepickerMax')">
                    <span *ngIf="kind$ | async as kind">
                      {{['application.shortTermRental.field.notInValidTimePeriod', kind] | translation}}
                    </span>
                </mat-error>
                <mat-error *ngIf="applicationForm.get('rentalTimes.endTime').hasError('required')">
                    {{'application.common.field.validityEndTimeMissing' | translation}}
                </mat-error>
                <mat-hint *ngIf="terminationDate$ | async as terminationDate">
                  {{'application.common.terminatedExpires' | translation}} {{terminationDate | date: 'shortDate'}}
                </mat-hint>
              </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 18px)" *ngIf="recurringAllowed">
              <recurring formControlName="recurringEndYear"
                         [forNowSelectable]="false"
                         [readonly]="readonly"></recurring>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="50%" class="gap-single-9">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="name" required
                       [placeholder]="'application.shortTermRental.name' | translation"/>
                <mat-hint>
                  <field-error [form]="applicationForm" field="name" hasError="required">
                    {{'application.field.nameMissing' | translation}}
                  </field-error>
                  <field-error [form]="applicationForm" field="name" hasError="minlength">
                    {{'application.field.nameShort' | translation}}
                  </field-error>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex>
              <mat-form-field class="input-full-width">
                  <textarea matInput matTextareaAutosize formControlName="description"
                            [required]="required(applicationForm.get('description'))"
                            [placeholder]="'application.shortTermRental.description' | translation"></textarea>
                <mat-hint>
                  <field-error [form]="applicationForm" field="description" hasError="required">
                    {{'application.shortTermRental.field.descriptionMissing' | translation}}
                  </field-error>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" *ngIf="showCommercial">
            <div fxFlex>
              <mat-slide-toggle formControlName="commercial">
                {{commercialLabel | translation}}
              </mat-slide-toggle>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <pricing-info [form]="applicationForm" [application]="application"></pricing-info>
    </div>
  </div>

  <div fxLayout="row" *ngIf="readonly">
    <div fxFlex>
      <location-details [application]="application" [readonly]="readonly"></location-details>
    </div>
  </div>

  <div fxLayout="row" *ngIf="showTerms">
    <div fxFlex>
      <allu-card>
        <mat-card-title>{{'TERMS.title' | translation}}</mat-card-title>
        <mat-card-content>
          <default-text formControlName="terms"
                        [applicationType]="application.type"
                        [readonly]="readonly"
                        [textType]="'TERMS'"
                        [includeTypes]="['TERMS']"></default-text>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <distribution
        [form]="applicationForm"
        [application]="application"
        [distributionList]="distribution$ | async"
        [readonly]="readonly"
        (distributionChange)="saveDistribution($event)"></distribution>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <application-actions
        [readonly]="readonly"
        [valid]="applicationForm.valid"
        [informationRequest]="informationRequest$ | async"
        [pendingClientData]="pendingClientData$ | async"
        [pendingInformationRequestResponse]="pendingInformationRequestResponse$ | async"
        [submitPending]="submitPending"></application-actions>
    </div>
  </div>
</form>
