<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)"
      *ngIf="applicationChanges | async as application">
  <customer [parentForm]="applicationForm"
            [customerWithContacts]="application.applicant"
            [readonly]="readonly"
            [showPropertyDeveloper]="true"
            [contactRequired]="true"
            [pendingInfo]="pendingCustomerInfo$ | async"></customer>

  <customer *ngIf="hasPropertyDeveloper"
            [parentForm]="applicationForm"
            [customerWithContacts]="application.propertyDeveloper"
            [readonly]="readonly"></customer>

  <customer [parentForm]="applicationForm"
            [customerWithContacts]="application.contractor"
            [readonly]="readonly"
            [showRepresentative]="true"
            [contactRequired]="true"></customer>

  <customer *ngIf="hasRepresentative"
            [parentForm]="applicationForm"
            [customerWithContacts]="application.representative"
            [readonly]="readonly"></customer>

  <div fxLayout="row" fxLayoutGap="18px">
    <div fxFlex="50">
      <allu-card>
        <mat-card-title>{{'application.excavationAnnouncement.validity' | translation}}</mat-card-title>
        <mat-card-content>
          <div formGroupName="validityTimes">
            <div fxLayout="row" fxLayoutGap="18px" class="form-group">
              <div fxFlex="50">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="startTime" required
                         [placeholder]="'application.common.startTime' | translation"
                         [matDatepicker]="startTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="startTimePicker"
                                         [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #startTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm.get('validityTimes')" field="startTime" hasError="required">
                      {{'application.common.field.validityStartTimeMissing' | translation}}
                    </field-error>
                    <field-error [form]="applicationForm" field="validityTimes" hasError="startBeforeEnd">
                      {{'application.common.field.validityStartBeforeEnd' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="input-full-width" [inputWarning]="validityEndTimeCtrl">
                  <input matInput type="text" formControlName="endTime" required
                         [placeholder]="'application.common.endTime' | translation"
                         [matDatepicker]="endTimePicker"/>
                  <button type="button" mat-icon-button [disabled]="readonly" matSuffix
                          (click)="onValidityEndTimePickerClick(endTimePicker)">
                    <mat-icon [color]="validityEndTimeIcon.color"
                              [matTooltipDisabled]="validityEndTimeIcon.tooltipDisabled"
                              matTooltip="{{'application.excavationAnnouncement.setToWinterTimeEnd' | translation}} ({{winterTimeEnd | date:'d.M.'}})"
                              matTooltipPosition="above">
                      {{validityEndTimeIcon.icon}}
                    </mat-icon>
                  </button>
                  <mat-datepicker #endTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm.get('validityTimes')" field="endTime" hasError="required">
                      {{'application.common.field.validityEndTimeMissing' | translation}}
                    </field-error>
                    <field-error [form]="applicationForm.get('validityTimes')" field="endTime" hasError="inWinterTime">
                      <span>{{'application.excavationAnnouncement.field.inWinterTime' | translation}}</span>
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div formGroupName="unauthorizedWork">
            <div fxLayout="row" fxLayoutGap="18px" class="form-group">
              <div fxFlex="50">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="startTime"
                         [placeholder]="'application.excavationAnnouncement.unauthorizedStartTime' | translation"
                         [matDatepicker]="unauthorizedStartTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="unauthorizedStartTimePicker"
                                         [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #unauthorizedStartTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm" field="unauthorizedWork" hasError="startBeforeEnd">
                      {{'application.excavationAnnouncement.field.unauthorizedWorkStartBeforeEnd' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="endTime"
                         [placeholder]="'application.excavationAnnouncement.unauthorizedEndTime' | translation"
                         [matDatepicker]="unauthorizedEndTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="unauthorizedEndTimePicker"
                                         [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #unauthorizedEndTimePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="18px" class="form-group">
            <div fxFlex="50">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="winterTimeOperation"
                       [placeholder]="'application.excavationAnnouncement.winterTimeOperation' | translation"
                       [matDatepicker]="winterTimeOperationPicker"/>
                <mat-datepicker-toggle matSuffix [for]="winterTimeOperationPicker"
                                       [disabled]="readonly"></mat-datepicker-toggle>
                <mat-datepicker #winterTimeOperationPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="50">
              <mat-form-field class="input-full-width">
                <input matInput readonly type="text" formControlName="workFinished"
                       [placeholder]="'application.excavationAnnouncement.workFinished' | translation"/>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" class="form-group">
            <div fxFlex="50" class="gap-single-9">
              <mat-form-field class="input-full-width">
                <input matInput readonly type="text" formControlName="guaranteeEndTime"
                       [placeholder]="'application.excavationAnnouncement.guaranteeEndTime' | translation"/>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
    <div fxFlex="50">
      <allu-card>
        <mat-card-title>{{'application.excavationAnnouncement.validityReportedByCustomer' | translation}}</mat-card-title>
        <mat-card-content>
          <div formGroupName="customerValidityTimes">
            <div fxLayout="row" fxLayoutGap="18px" class="form-group">
              <div fxFlex="50">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="startTime"
                         [placeholder]="'application.common.startTime' | translation"
                         [matDatepicker]="customerStartTimePicker"/>
                  <button type="button" mat-icon-button matSuffix
                          *ngIf="showReportCustomerDates; else customerStartTimePickerToggle"
                          (click)="reportCustomerValidity(application.extension)">
                    <mat-icon>event</mat-icon>
                  </button>
                  <ng-template #customerStartTimePickerToggle>
                    <mat-datepicker-toggle matSuffix [for]="customerStartTimePicker"></mat-datepicker-toggle>
                  </ng-template>
                  <mat-datepicker #customerStartTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm" field="customerValidityTimes" hasError="startBeforeEnd">
                      {{'application.common.field.validityStartBeforeEnd' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="endTime"
                         [placeholder]="'application.common.endTime' | translation"
                         [matDatepicker]="customerEndTimePicker"/>
                  <button type="button" mat-icon-button matSuffix
                          *ngIf="showReportCustomerDates; else customerEndTimePickerToggle"
                          (click)="reportCustomerValidity(application.extension)">
                    <mat-icon>event</mat-icon>
                  </button>
                  <ng-template #customerEndTimePickerToggle>
                    <mat-datepicker-toggle matSuffix [for]="customerEndTimePicker"></mat-datepicker-toggle>
                  </ng-template>
                  <mat-datepicker #customerEndTimePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="18px" class="form-group">
            <div fxFlex="50">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="customerWinterTimeOperation"
                       [placeholder]="'application.excavationAnnouncement.winterTimeOperation' | translation"
                       [matDatepicker]="customerWinterTimeOperationPicker"/>
                <button type="button" mat-icon-button matSuffix
                        *ngIf="showReportCustomerDates; else customerWinterTimeOperationPickerToggle"
                        (click)="reportCustomerOperationalCondition(application.extension)">
                  <mat-icon>event</mat-icon>
                </button>
                <ng-template #customerWinterTimeOperationPickerToggle>
                  <mat-datepicker-toggle matSuffix [for]="customerWinterTimeOperationPicker"></mat-datepicker-toggle>
                </ng-template>
                <mat-datepicker #customerWinterTimeOperationPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="50">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="customerWorkFinished"
                       [placeholder]="'application.excavationAnnouncement.workFinished' | translation"
                       [matDatepicker]="customerWorkFinishedPicker"/>
                <button type="button" mat-icon-button matSuffix
                        *ngIf="showReportCustomerDates; else customerWorkFinishedPickerToggle"
                        (click)="reportCustomerWorkFinished(application.extension)">
                  <mat-icon>event</mat-icon>
                </button>
                <ng-template #customerWorkFinishedPickerToggle>
                  <mat-datepicker-toggle matSuffix [for]="customerWorkFinishedPicker"></mat-datepicker-toggle>
                </ng-template>
                <mat-datepicker #customerWorkFinishedPicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="18px">
    <div fxFlex>
      <allu-card>
        <mat-card-title>{{'application.excavationAnnouncement.excavationInfo' | translation}}</mat-card-title>
        <mat-card-content>
          <div fxLayout="row" class="form-group">
            <div fxFlex>
              <mat-form-field class="input-full-width">
                <textarea matInput matTextareaAutosize required
                          formControlName="workPurpose"
                          [placeholder]="'application.common.workPurpose' | translation"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" class="form-group">
            <div fxFlex>
              <mat-form-field class="input-full-width">
                <textarea matInput matTextareaAutosize
                          formControlName="additionalInfo"
                          [placeholder]="'application.common.additionalInfo' | translation"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" class="form-group">
            <div fxFlex="20">
              <mat-checkbox formControlName="pksCard">{{'application.common.pksCard' | translation}}</mat-checkbox>
            </div>
            <div fxFlex="20">
              <mat-checkbox formControlName="propertyConnectivity">{{'application.common.propertyConnectivity' | translation}}</mat-checkbox>
            </div>
            <div fxFlex="20">
              <mat-checkbox formControlName="selfSupervision">{{'application.common.selfSupervision' | translation}}</mat-checkbox>
            </div>
          </div>
          <div fxLayout="row" class="form-group">
            <div fxFlex="20">
              <mat-checkbox formControlName="constructionWork">{{'application.common.constructionWork' | translation}}</mat-checkbox>
            </div>
            <div fxFlex="20">
              <mat-checkbox formControlName="maintenanceWork">{{'application.common.maintenanceWork' | translation}}</mat-checkbox>
            </div>
            <div fxFlex="20">
              <mat-checkbox formControlName="emergencyWork">{{'application.common.emergencyWork' | translation}}</mat-checkbox>
            </div>
          </div>
          <div fxLayout="row" class="form-group">
            <div fxFlex>
              <default-text formControlName="trafficArrangements"
                  [applicationType]="application.type"
                  [readonly]="readonly"
                  [textType]="'TRAFFIC_ARRANGEMENT'"
                  [includeTypes]="['TRAFFIC_ARRANGEMENT']"></default-text>
            </div>
          </div>
          <div fxLayout="row" class="form-group">
            <div fxFlex>
              <mat-button-toggle-group formControlName="trafficArrangementImpedimentType">
                <mat-button-toggle value="NO_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.NO_IMPEDIMENT' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="INSIGNIFICANT_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.INSIGNIFICANT_IMPEDIMENT' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="IMPEDIMENT_FOR_HEAVY_TRAFFIC">
                  {{'application.trafficArrangementImpedimentType.IMPEDIMENT_FOR_HEAVY_TRAFFIC' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="SIGNIFICANT_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.SIGNIFICANT_IMPEDIMENT' | translation}}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
    <div fxFlex>
      <allu-card>
        <mat-card-title>{{'application.relatedApplications' | translation}}</mat-card-title>
        <mat-card-content>
          <div fxLayout="row" fxLayoutGap="18px">
            <div fxFlex="calc(50% - 18px)">
              <h2 mat-card-subtitle>
                {{'application.excavationAnnouncement.cableReports' | translation}}
              </h2>
              <application-identifiers
                formControlName="cableReports"
                type="CABLE_REPORT"
              ></application-identifiers>
            </div>
            <div fxFlex="calc(50% - 18px)">
              <h2 mat-card-subtitle>
                {{'application.excavationAnnouncement.placementContracts' | translation}}
              </h2>
              <application-identifiers
                formControlName="placementContracts"
                type="PLACEMENT_CONTRACT"
              ></application-identifiers>
            </div>
          </div>

        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div fxLayout="row" *ngIf="readonly">
    <div fxFlex>
      <location-details [application]="application" [readonly]="readonly"></location-details>
    </div>
  </div>

  <div fxLayout="row" *ngIf="showTerms">
    <div fxFlex>
      <allu-card>
        <mat-card-title>{{'TERMS.title' | translation}}</mat-card-title>
        <mat-card-content>
          <div fxLayout="row" class="form-group">
            <div fxFlex="20">
              <mat-checkbox formControlName="compactionAndBearingCapacityMeasurement">
                {{'application.excavationAnnouncement.compactionAndBearingCapacityMeasurement' | translation}}
              </mat-checkbox>
            </div>
            <div fxFlex="20">
              <mat-checkbox formControlName="qualityAssuranceTest">
                {{'application.excavationAnnouncement.qualityAssuranceTest' | translation}}
              </mat-checkbox>
            </div>
          </div>

          <div fxLayout="row">
            <div fxFlex>
              <default-text formControlName="terms"
                            [applicationType]="application.type"
                            [readonly]="readonly"
                            [textType]="'TERMS'"
                            [includeTypes]="['TERMS']"></default-text>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <distribution
        [form]="applicationForm"
        [application]="application"
        [distributionList]="distribution$ | async"
        [readonly]="readonly"
        (distributionChange)="saveDistribution($event)"></distribution>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <application-actions
        [readonly]="readonly"
        [valid]="applicationForm.valid"
        [informationRequest]="informationRequest$ | async"
        [pendingClientData]="pendingClientData$ | async"
        [pendingInformationRequestResponse]="pendingInformationRequestResponse$ | async"
        [submitPending]="submitPending"></application-actions>
    </div>
  </div>
</form>
