<div fxLayout="column">
  <div fxFlex class="map-container">
    <simple-map
      [mapId]="'map-' + taskId"
      [content]="mapFeatures"
      [selectedFeature]="relatedLocation?.id"></simple-map>
  </div>
  <div fxFlex *ngIf="relatedLocation">
    <div fxLayout="row" class="location-info">
      <div fxFlex="0 1 auto">{{relatedLocation.startTime | date:'shortDate'}}–{{relatedLocation.endTime | date:'shortDate'}}</div>
      <div fxFlex="0 1 auto" *ngIf="showPaymentTariff">{{paymentTariff}}</div>
      <div fxFlex="0 1 auto" *ngIf="relatedLocation.underpass">{{'location.underpass' | translation}}</div>
    </div>
    <div fxLayout="row" class="location-info" *ngIf="relatedLocation.customerReportingTime">
      <div fxFlex>
        <span>{{'dateReporting.title.customer.validity' | translation}}: </span>
        <span>{{relatedLocation.customerStartTime | date:'shortDate'}}–{{relatedLocation.customerEndTime | date:'shortDate'}}</span>
      </div>
    </div>
  </div>
</div>
