@import '../../../../assets/colors';

.save-info {
  color: mat-contrast($allu-primary, 100);
  padding-bottom: 15px;
}

.text-multiline {
  white-space: pre-line;
}

::ng-deep .mat-dialog-container {
  box-shadow: none;
}

::ng-deep .custom-backdrop {
  background-color: rgba(0, 0, 0, 0.014) !important;
}