@import '../../../assets/colors';

:host {
  display: block;
}

h1.popup-header {
  font-size: 15px;
  line-height: 20px;
  color: mat-contrast($allu-primary, 500);
  background: mat-color($allu-primary, 500);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 5px 16px;
  font-weight: bold;
  margin: -1px;
}

.popup-content {
  height: 100%;
  max-height: 50vh;
  overflow-y: auto;

  ul {
    margin: 0;
    padding: 13px 19px;
  }
}

.popup-content .content-row-bold {
  font-weight: bold;
}

.popup-content .single-line {
  white-space: nowrap;
}
